

.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
  font-size: 22px;
  inline-size: 100%;

}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color, #4b495f);
  min-block-size: 52px;
  padding: 5px 45px;
}

.item_left {
  border-radius:  8px 40px 8px 40px;
}

.item_right {
  border-radius:  40px 8px 40px 8px;
}

.item_active {
  background-color: var(--accent-color, #ef927f);
}

