.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: var(--primary-color, #4b495f);
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.container_winner {
  background-color: var(--accent-color, #ef927f);
}

.svg {
  color: transparent;
  inline-size: 75%;
  block-size: 75%;
}

.container_hover .svg {
  transition: color 0.1s ease-in-out;
}

.container_hover:hover .svg {
  color: rgba(255, 255, 255, 0.5);
}

.svg_active {
  color: #fff;
}
